* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

.body {
    margin-left: 20%;
}

.header {
    margin-bottom: 1rem;
}

.search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.search-bar input {
    flex: 0 0 80%;
    border: 1px grey solid;
    border-radius: 10px;
    padding: 0.2rem 2rem;
}

.search-bar i {
    transform: translateX(27px);
}

.user-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.user-list {
    width: 80%;
    padding: 20px;
}

.user-header {
    padding: 20px 25px;
    border-bottom: 1px grey solid;
}

.user-header p {
    font-size: 2rem;
    color: #1a237e;
    font-weight: 600;
}

.user-content {
    font-size: 1.5rem;
}

.user-verification {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 25px 30px 25px;
    border-bottom: 1px grey solid;
}

.details-section {
    display: flex;
    gap: 0.5rem;
}

.details-section > p{
    font-size: 1rem;
}

.action-section >
form {
    display: flex;
    gap: 0.5rem;
}

.details-section, .action-section form {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    padding: 0.2rem 1rem;
    color: #407BFF;
    background: none;
    font-weight: 600;
    font-size: 15px;
    border: 2px #407BFF solid;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}

button:hover {
    color: white;
    background: #407BFF;
}

.fallback-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.fallback-container >
img {
    width: 20%;
    height: 20vh;
}

.fallback-container >
span {
    font-size: 1rem
}

.empty-staff-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.empty-staff-container > img {
    height: 45vh;
}

.empty-staff-container > span {
    font-size: 1.2rem;
}